name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    services:
      falkordb:
        image: falkordb/falkordb:latest
        ports:
          - 6379:6379
    steps:
    - uses: actions/checkout@v4
    - uses: webfactory/ssh-agent@v0.9.0
      with:
          ssh-private-key: ${{ secrets.DEPLOY_KEY }}
    - name: Clone code_graph repository
      run: git clone git@github.com:FalkorDB/code-graph-backend.git
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm ci
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Set up Python environment, install dependencies, and run Flask
      run: |
        # Install Poetry first
        curl -sSL https://install.python-poetry.org | python3 -
        export PATH="$HOME/.local/bin:$PATH"

        # Set up Python virtual environment
        cd code-graph-backend
        python3 -m venv myproject_env
        source myproject_env/bin/activate

        # Install Flask
        pip install Flask

        # Install dependencies using Poetry
        poetry install

        # Run Flask backend
        flask --app code_graph run --debug &
    - name: Run Playwright tests with detailed reporting
      run: |
        npm install
        npm run build
        NEXTAUTH_SECRET=SECRET npm start & npx playwright test --reporter=dot,list
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
